In [220]:
# importing libraries


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import dash
import plotly.express as px
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.formula.api import ols
import functions
# stops python from showing scientific notation
pd.set_option('display.float_format', '{:.2f}'.format)


# importing cleaned and filtered dataframes

c_df = pd.read_csv('/Users/stephen/Flatiron/Phase2/Project2/Data/my_dataframe', index_col=0)
f_df = pd.read_csv('/Users/stephen/Flatiron/Phase2/Project2/Data/my_filtered_dataframe', index_col=0)

#print('clean_df = ', clean_df.describe())
print('\n')
print('filtered_df = ', filtered_df.describe())

filtered_df =         Unnamed: 0      price  yr_renovated  yr_built  condition  zipcode  \
count    21502.00   21502.00        732.00  21502.00   21502.00 21502.00
mean     10795.97  529265.56       1995.87   1970.98       3.41 98078.07
std       6233.50  315434.06         15.68     29.35       0.65    53.49
min          0.00   78000.00       1934.00   1900.00       1.00 98001.00
25%       5397.25  321000.00       1987.00   1951.00       3.00 98033.00
50%      10795.50  450000.00       2000.00   1975.00       3.00 98065.00
75%      16192.75  640000.00       2007.25   1997.00       4.00 98118.00
max      21596.00 2580000.00       2015.00   2015.00       5.00 98199.00

           lat     long
count 21502.00 21502.00
mean     47.56  -122.21
std       0.14     0.14
min      47.16  -122.52
25%      47.47  -122.33
50%      47.57  -122.23
75%      47.68  -122.12
max      47.78  -121.40

Take a look at out target varriable "Price"

In [221]:
f_df = f_df[f_df['price'] > f_df['price'].quantile(.05)]
#f_df = f_df[f_df['condition'] > f_df['condition'].quantile(.05)]
f_df.describe()

           price  yr_renovated  yr_built  condition  zipcode      lat     long
count   20424.00        711.00  20424.00   20424.00 20424.00 20424.00 20424.00
mean   547842.50       1996.17   1971.76       3.41 98077.90    47.57  -122.21
std    312762.73         15.46     29.48       0.65    52.60     0.14     0.14
min    210490.00       1934.00   1900.00       1.00 98001.00    47.16  -122.52
25%    339950.00       1987.00   1952.00       3.00 98033.00    47.48  -122.33
50%    465000.00       2000.00   1976.00       3.00 98065.00    47.58  -122.23
75%    652000.00       2008.00   1998.00       4.00 98117.00    47.68  -122.12
max   2580000.00       2015.00   2015.00       5.00 98199.00    47.78  -121.40

In [222]:
c_df = c_df[c_df['price'] < c_df['price'].quantile(.97)]

c_matrix = c_df.corr()
c_matrix['price']

price           1.00
yr_renovated    0.20
yr_built        0.06
condition       0.04
grade           0.66
zipcode        -0.02
lat             0.40
long            0.06
cat_zipcode    -0.02
Name: price, dtype: float64

In [223]:
drop_df = c_df.dropna()

In [230]:
drop_df.shape

(588, 16)

In [225]:
f_df = f_df[f_df['price'] < f_df['price'].quantile(.97)]

f_matrix = f_df.corr()
f_matrix['price']

price           1.00
yr_renovated    0.18
yr_built        0.02
condition       0.03
zipcode        -0.02
lat             0.37
long            0.05
Name: price, dtype: float64

In [226]:
f_df

           price  yr_renovated  yr_built  condition  zipcode   lat    long
0      221900.00           nan      1955          3    98178 47.51 -122.26
1      538000.00       1991.00      1951          3    98125 47.72 -122.32
3      604000.00           nan      1965          5    98136 47.52 -122.39
4      510000.00           nan      1987          3    98074 47.62 -122.05
5     1230000.00           nan      2001          3    98053 47.66 -122.00
...          ...           ...       ...        ...      ...   ...     ...
21592  360000.00           nan      2009          3    98103 47.70 -122.35
21593  400000.00           nan      2014          3    98146 47.51 -122.36
21594  402101.00           nan      2009          3    98144 47.59 -122.30
21595  400000.00           nan      2004          3    98027 47.53 -122.07
21596  325000.00           nan      2008          3    98144 47.59 -122.30

[19792 rows x 7 columns]

In [231]:

#Zipcode

#Train/Test Split
X = drop_df.drop(columns=['price', 'yr_built', 'lat', 'long', 'condition'])
y = drop_df['price']

# Train / Test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33)

model = sm.OLS(y_train, sm.add_constant(X_train['yr_renovated'])).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     7.617
Date:                Wed, 06 Oct 2021   Prob (F-statistic):            0.00605
Time:                        09:33:52   Log-Likelihood:                -5499.7
No. Observations:                 393   AIC:                         1.100e+04
Df Residuals:                     391   BIC:                         1.101e+04
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -4.393e+06   1.82e+06     -2.417      0.016   -7.97e+06   -8.19e+05
yr_renovated  2513.9444    910.874      2.760      0.006     723.121    4304.768
==============================================================================
Omnibus:                       21.327   Durbin-Watson:                   1.938
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.932
Skew:                           0.568   Prob(JB):                     1.05e-05
Kurtosis:                       2.670   Cond. No.                     2.48e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.48e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [233]:

# For comparing the models, let's also use our evaluate() function to get R2, RMSE, MAE
train_preds = model.predict(sm.add_constant(X_train['yr_renovated']))
test_preds = model.predict(sm.add_constant(X_test['yr_renovated']))
functions.evaluate(y_train, train_preds, y_test, test_preds)

Train R2: 0.0191
Test R2: 0.0428
****
Train RMSE: $289,264.98
Test RMSE: $262,559.90
****
Train MAE: $238,469.54
Test MAE: $216,689.00

In [235]:

# Let's also check the assumptions of linearity.
functions.check_assumptions(X_train['yr_renovated'], y_train, train_preds, test_preds, y_test)

AttributeError: module 'functions' has no attribute 'check_assumptions'