In [115]:
# importing libraries


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import dash
import plotly.express as px
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.formula.api import ols
# stops python from showing scientific notation
pd.set_option('display.float_format', '{:.2f}'.format)

# importing cleaned and filtered dataframes

c_df = pd.read_csv('/Users/stephen/Flatiron/Phase2/Project2/Data/my_dataframe')
f_df = pd.read_csv('/Users/stephen/Flatiron/Phase2/Project2/Data/my_filtered_dataframe', index_col=0)

#print('clean_df = ', clean_df.describe())
print('\n')
print('filtered_df = ', filtered_df.describe())

filtered_df =         Unnamed: 0      price  yr_renovated  yr_built  condition  zipcode  \
count    21502.00   21502.00        732.00  21502.00   21502.00 21502.00
mean     10795.97  529265.56       1995.87   1970.98       3.41 98078.07
std       6233.50  315434.06         15.68     29.35       0.65    53.49
min          0.00   78000.00       1934.00   1900.00       1.00 98001.00
25%       5397.25  321000.00       1987.00   1951.00       3.00 98033.00
50%      10795.50  450000.00       2000.00   1975.00       3.00 98065.00
75%      16192.75  640000.00       2007.25   1997.00       4.00 98118.00
max      21596.00 2580000.00       2015.00   2015.00       5.00 98199.00

           lat     long
count 21502.00 21502.00
mean     47.56  -122.21
std       0.14     0.14
min      47.16  -122.52
25%      47.47  -122.33
50%      47.57  -122.23
75%      47.68  -122.12
max      47.78  -121.40

Take a look at out target varriable "Price"

In [116]:
f_df = f_df[f_df['price'] > f_df['price'].quantile(.10)]
#f_df = f_df[f_df['condition'] > f_df['condition'].quantile(.05)]
f_df.describe()

           price  yr_renovated  yr_built  condition  zipcode      lat     long
count   19348.00        690.00  19348.00   19348.00 19348.00 19348.00 19348.00
mean   565527.48       1996.31   1972.18       3.41 98078.10    47.58  -122.21
std    311959.22         15.39     29.79       0.64    51.80     0.13     0.14
min    245100.00       1934.00   1900.00       1.00 98001.00    47.16  -122.52
25%    356000.00       1988.00   1952.00       3.00 98033.00    47.50  -122.33
50%    480000.00       2000.00   1977.00       3.00 98072.00    47.59  -122.22
75%    668562.50       2008.00   1999.00       4.00 98117.00    47.68  -122.12
max   2580000.00       2015.00   2015.00       5.00 98199.00    47.78  -121.40

In [129]:
c_df = c_df[c_df['price'] < c_df['price'].quantile(.80)]

c_matrix = c_df.corr()
c_matrix['price']

Unnamed: 0     0.04
price          1.00
yr_renovated   0.10
yr_built       0.06
condition      0.02
grade          0.50
zipcode        0.02
lat            0.48
long           0.07
cat_zipcode    0.02
Name: price, dtype: float64

In [130]:
f_matrix = f_df.corr()
f_matrix['price']

price           1.00
yr_renovated    0.14
yr_built        0.01
condition       0.05
zipcode        -0.06
lat             0.26
long            0.02
Name: price, dtype: float64

In [125]:
f_df

           price  yr_renovated  yr_built  condition  zipcode   lat    long
1      538000.00       1991.00      1951          3    98125 47.72 -122.32
3      604000.00           nan      1965          5    98136 47.52 -122.39
4      510000.00           nan      1987          3    98074 47.62 -122.05
5     1230000.00           nan      2001          3    98053 47.66 -122.00
6      257500.00           nan      1995          3    98003 47.31 -122.33
...          ...           ...       ...        ...      ...   ...     ...
21592  360000.00           nan      2009          3    98103 47.70 -122.35
21593  400000.00           nan      2014          3    98146 47.51 -122.36
21594  402101.00           nan      2009          3    98144 47.59 -122.30
21595  400000.00           nan      2004          3    98027 47.53 -122.07
21596  325000.00           nan      2008          3    98144 47.59 -122.30

[19348 rows x 7 columns]

In [131]:

#Zipcode

#Train/Test Split
X = f_df.drop(columns=['price', 'yr_built', 'yr_renovated', 'lat', 'long', 'condition'])
y = f_df['price']

# Train / Test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33)

model = sm.OLS(y_train, sm.add_constant(X_train['zipcode'])).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     37.69
Date:                Wed, 06 Oct 2021   Prob (F-statistic):           8.55e-10
Time:                        08:52:25   Log-Likelihood:            -1.8243e+05
No. Observations:               12963   AIC:                         3.649e+05
Df Residuals:                   12961   BIC:                         3.649e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.255e+07   5.21e+06      6.248      0.000    2.23e+07    4.28e+07
zipcode     -326.0918     53.119     -6.139      0.000    -430.212    -221.971
==============================================================================
Omnibus:                     6588.470   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            46821.095
Skew:                           2.368   Prob(JB):                         0.00
Kurtosis:                      11.015   Cond. No.                     1.86e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.86e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [120]:

# For comparing the models, let's also use our evaluate() function to get R2, RMSE, MAE
train_preds = model.predict(sm.add_constant(X_train['zipcode']))
test_preds = model.predict(sm.add_constant(X_test['zipcode']))
functions.evaluate(y_train, train_preds, y_test, test_preds)

NameError: name 'functions' is not defined