In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv(r'C:\Users\tonym\Documents\Flatiron\phase_2\Project2\notebooks\Tony\cleanhousedata.csv', index_col = 0 )

In [10]:
df.head()

,date,price,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,...,bath_5.25,bath_5.5,bath_5.75,bath_6.0,bath_6.25,bath_6.5,bath_6.75,bath_7.5,bath_7.75,bath_8.0
id,,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/2014,221900.0,1180,5650,1.0,NaN,Average,7 Average,1180,0.0,...,0,0,0,0,0,0,0,0,0,0
6414100192,12/9/2014,538000.0,2570,7242,2.0,NO,Average,7 Average,2170,400.0,...,0,0,0,0,0,0,0,0,0,0
5631500400,2/25/2015,180000.0,770,10000,1.0,NO,Average,6 Low Average,770,0.0,...,0,0,0,0,0,0,0,0,0,0
2487200875,12/9/2014,604000.0,1960,5000,1.0,NO,Very Good,7 Average,1050,910.0,...,0,0,0,0,0,0,0,0,0,0
1954400510,2/18/2015,510000.0,1680,8080,1.0,NO,Average,8 Good,1680,0.0,...,0,0,0,0,0,0,0,0,0,0

,date,price,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,...,bath_5.25,bath_5.5,bath_5.75,bath_6.0,bath_6.25,bath_6.5,bath_6.75,bath_7.5,bath_7.75,bath_8.0
id,,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/2014,221900.0,1180,5650,1.0,NaN,Average,7 Average,1180,0.0,...,0,0,0,0,0,0,0,0,0,0
6414100192,12/9/2014,538000.0,2570,7242,2.0,NO,Average,7 Average,2170,400.0,...,0,0,0,0,0,0,0,0,0,0
5631500400,2/25/2015,180000.0,770,10000,1.0,NO,Average,6 Low Average,770,0.0,...,0,0,0,0,0,0,0,0,0,0
2487200875,12/9/2014,604000.0,1960,5000,1.0,NO,Very Good,7 Average,1050,910.0,...,0,0,0,0,0,0,0,0,0,0
1954400510,2/18/2015,510000.0,1680,8080,1.0,NO,Average,8 Good,1680,0.0,...,0,0,0,0,0,0,0,0,0,0

### Begin to split into train and test

In [12]:
X = df.drop(columns='price')
y = df['price']

In [13]:
# Train / Test Split 
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)